extends layout

block nav
  +search()

block content

  #places
    each place in places
      div(style=`background-image: url('${place.image_url}')`).place
        .yelpLogo
          a(href=place.url)
            img(src='/images/Yelp_trademark_RGB_outline.png' alt='Yelp')
        .gradient
        .info
          .top
            .cost
              if place.price
                - let cost = place.price
                - let n = 0
                while n < cost.length
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100%" height="100%"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-11v2h1a3 3 0 0 1 0 6h-1v1a1 1 0 0 1-2 0v-1H8a1 1 0 0 1 0-2h3v-2h-1a3 3 0 0 1 0-6h1V6a1 1 0 0 1 2 0v1h3a1 1 0 0 1 0 2h-3zm-2 0h-1a1 1 0 1 0 0 2h1V9zm2 6h1a1 1 0 0 0 0-2h-1v2z"/></svg>
                  - n++
            
            h2.name=place.name
            .belowTitle
              - distance = (Math.round(place.distance) * 0.000621371).toFixed(2)
              p.distance #{distance} mi.
              a(href=place.url).ratings
                span#ratingCount=place.review_count
                if place.rating % 1 == 0
                  img(alt='rating' src=`/images/yelp_stars/regular_${Math.floor(place.rating)}.png`).rating
                else
                  img(alt='rating' src=`/images/yelp_stars/regular_${Math.floor(place.rating)}_half.png`).rating
        .moreInfo
          a(href=place.phone).phone=place.display_phone
          p.address
          each line in place.location.display_address
            span=line
            br

  .voteButtons
    button#back.vote &lsaquo;
    button#next.vote &rsaquo;


  script(src='/javascripts/explore.js' defer)

