doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")

    script(src='/javascripts/nav.js' defer)
  body

    #wrapper
      button#navButton &#9776;
      nav#nav
        ul
          li
            a(href='/') Home

        form(action="/explore", method="post")
          if search
            input(type="search", placeholder='Quick Search', name='term' value=search.term).fullInput
            input(type="hidden", name="lat", id="latNav" value=search.lat)
            input(type="hidden", name="lon", id="lonNav", value=search.lon)
            label(for='radius') Within 
              span#distance=search.radius
              |  mi.
            input(type='range', min='0', max='25', name='radius' id='dist' value=search.radius).fullInput
          else
            input(type="search", placeholder='Quick Search', name='term').fullInput
            input(type="hidden", name="lat", id="latNav")
            input(type="hidden", name="lon", id="lonNav")
            label(for='radius') Within 
              span#distance 10
              |  mi.
              input(type='range', min='1', max='25', name='radius' id='dist' value='10').fullInput
          .cols
            label(for='sort_by') Sort By: 
              select(name='sort_by')
                option(value='best_match') Best Match
                option(value='rating') Rating
                option(value='review_count') Review Count
                option(value='distance') Distance
            label(for='open_now').open
              input(type='checkbox', value='true', name='open_now')
              |  Open Now?
          input(type="submit", value="Search").fullInput

      .content
        block content

    script.
      document.getElementById('dist').addEventListener('input', () => {
        document.getElementById('distance').innerText = document.getElementById('dist').value;
      });